.signupform form, .login form, .reset form, .appointment form{
    height: 580px; 
    width: 400px; 
    border-radius: 6px;
    margin: auto; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 25px; 
    padding-top: 5px; 

 }

 .login form, .reset form{
    height: 450px; 
    line-height: 1.5; 
 }

 .signupform input, .login input, .reset input{
    width: 100%;  
    padding-top: 32px; 
    margin: 10px 0px; 
    border: none; 
    outline: none;
    border: 1px solid black; 
    border-radius: 6px;
   
 }

 .signupform input:focus , .login input:focus, .reset input:focus{
 
    border: 2px solid black; 
   
 }

 .signupform label, .login label, .reset label{
    font-size: 16px; 
 }
.signupform p, h2, .login p, h2, .reset p, h2{
   text-align: center;
}

.signupform a, .login a, .reset a{
    color: blue; 
    text-decoration: underline;
}

.signupform button, .login button, .reset button{
    background-color: #800000; 
    border: 1px solid #800000; 
    border-radius: 6px; 
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    list-style: none;
    padding: 15px 45px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    color: white; 
    margin-left: 30%; 
}

.reset button{
    background-color: rgb(4, 4, 141); 
    border: 1px solid rgb(4, 4, 141); 
    margin-left: 20%;
    word-spacing: 10px; 
    font-family: 'Times New Roman', Times, serif;
}