body{
    padding: 10px; 
    font-size: 19px; 
    font-family: 'Times New Roman', Times, serif;
    margin: 0; 
   
   
}

header{
    display: flex; 
    justify-content: space-between;
    padding: 12px 0px; 
    border-bottom: 1px solid black;
}

.logo{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 26px; 
    color: #800000; 
}

header ul{
    display: flex;
    width: 55%; 
    justify-content: space-around;
    margin-top: 0px; 
    
}

header ul li{
    list-style-type: none;
    padding-top: 6px; 
}

a{
    text-decoration: none;
    color: black; 
   
}

header ul a:hover{
    text-decoration: underline;
    color: brown; 
}

.button{
    margin-top: 5px; 
   
  
}

.button a{
    
    background-color: #800000; 
    border: 1px solid #800000; 
    border-radius: 6px; 
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 30px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    color: white; 
   
    
}




.call-to-action{
    height: 450px; 
    background: #F4F4F4; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; 
   
}

.call-to-action .emotions{
    display: flex;
    width: 45%; 
    justify-content: space-around;   
}

.emotions p{
    border: 1px solid #800000; 
    border-radius: 4px; 
    font-size: 18px;
    padding: 10px;
    width: 135px;
    text-align: center;   
}

.call-to-action .button{
    margin-left:35px;  
}

.call-to-action .button a{
    padding: 15px 10px; 
    background-color: #800000;
}

.button a:hover{
    background-color: white;
    border: 1px solid #800000; 
    color: black; 
}

.counselors-container{

    min-height: 500px; 
    background: #F4F4F4;
    padding-top: 55px;
    padding-bottom: 50px;
    text-align: center; 

}

.counselors-container .button{
    padding-top: 30px; 
    margin: auto; 
    width: 25%; 
    
}


.counselors-container .button a, .counselor button, .services .button a{
    
    background-color: #FFFFFF;
    border: 1px solid #800000;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}

.counselors-container .button a{
    background-color: brown;
    color: white; 
    
}

.counselors-container .button a:hover, .services .button a:hover, .counselor button:hover{
    background-color: #800000; 
    color: white;
}

.counselors-container .counselors{
    display: flex; 

}

.counselor{
    width: 30%; 
    margin: 10px 5%; 
    border: 1px solid #8000007a; 
    height: 600px; 
    text-align: center;
    padding: 5px 10px; 
    line-height: 1.5; 
}

.counselor img{
    height: 250px; 
    width: 90%;
    padding: 0px; 
 
}



.counselor button:hover{
    background-color: brown; 
}


.services-container{
    min-height: 600px; 
    text-align: center;

}

.services{
    width: 85%; 
    margin: auto;
    display: flex; 
    margin: auto; 
    flex-wrap: wrap;
    justify-content: space-between;
   
    
}

.service{
    width: 45%; 
    margin: 10px 1%;
    display: flex;
    padding: 5px 15px; 
    box-shadow: #800000 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
     
}

.service .image{
  
    height: 130px;
    width: 130px; 
    border: 1px solid #800000d2; 
    border-radius: 50%;
    background-color: #800000d2; 
    align-self: center;
  
    
}

.service .image p{
    padding-top: 10px; 
    text-align: center;
    font-size: 30px;
    
    
}

.service .content{
    margin-left: 30px; 
    width: 60%; 
    color: #848884; 
    text-align: left;
    padding: 2px; 
    font-size: 16px; 
    line-height: 1.5; 
}

.service .content h2{
    color: rgb(24, 24, 24); 
    font-size: 26px;
}

.services .button{
    padding: 30px 0px; 
     margin: auto; 
     
 }



 .self-care, .self-cares.self-cares{

    min-height: 500px; 
    padding: 20px; 
    display: flex; 

 }

 .self-care .image img{
    width: 550px; 
    height: 550px;
 }

 .self-care .content{
    padding: 25px;
    line-height: 1.8;
 }

 .self-care .list{
    display: flex;
   
 }

 .list li{
    padding: 8px 0px; 
 }

 .self-care .button{
    margin-left: 20px; 
    width: 30%; 
    
    
 }
 .self-care .button a{
    padding: 15px 35px; 
 }

 .self-cares .image{
    width: 1200px;
    padding: 30px; 
    border: 1px solid black;   
 }

 .self-cares .image p{
    font-family: cursive;
    font-size: 30px; 
    border: 1px solid black; 
    padding: 30px; 
 }

 footer{
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F4F4; 
 }

 footer .content{
    height: 210px; 
    border-bottom: 1px solid black; 
 }

 footer .content p{
    font-size: 35px; 
 }

 footer .button {
    text-align: center;
    margin: auto; 
    
 }

 .signupform form, .login form, .reset form, .appointment form{
    height: 580px; 
    width: 400px; 
    border-radius: 6px;
    margin: auto; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 25px; 
    padding-top: 5px; 

 }

 .login form, .reset form{
    height: 450px; 
    line-height: 1.5; 
 }

 .signupform input, .login input, .reset input{
    width: 100%;  
    padding-top: 32px; 
    margin: 10px 0px; 
    border: none; 
    outline: none;
    border: 1px solid black; 
    border-radius: 6px;
   
 }

 .signupform input:focus , .login input:focus, .reset input:focus{
 
    border: 2px solid black; 
   
 }

 .signupform label, .login label, .reset label{
    font-size: 16px; 
 }
.signupform p, h2, .login p, h2, .reset p, h2{
   text-align: center;
}

.signupform a, .login a, .reset a{
    color: blue; 
    text-decoration: underline;
}

.signupform button, .login button, .reset button{
    background-color: #800000; 
    border: 1px solid #800000; 
    border-radius: 6px; 
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    list-style: none;
    padding: 15px 45px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    color: white; 
    margin-left: 30%; 
}

.reset button{
    background-color: rgb(4, 4, 141); 
    border: 1px solid rgb(4, 4, 141); 
    margin-left: 20%;
    word-spacing: 10px; 
    font-family: 'Times New Roman', Times, serif;
}




/* Student dashboard coding */

.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    
  }
  

  .search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
  }
  
  .search input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid black; 
  }
  
  .search button {
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .personal-info {
    width: 30%; 
    font-size: 18px;
    font-weight: bold;
  }

  .dashboard-container{
    position: relative; 
    
}

  /* menu styling */
  .menu-dashboard {
    width: 8%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: white; 
    padding: 10px;
    font-size: 85%; 
  }
  
  .menu-dashboard p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 95%;
  }
  
  .menu-dashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-dashboard li {
    margin-bottom: 8px;
  }
  
  .menu-dashboard li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .menu-dashboard li a:hover {
    background-color: #ddd;
  }
  
/* appointment dashboard*/ 





  .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: 100;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}


.form-control.error input{
  border: 1px solid red; 
}

.form-control.success input{
  border: 1px solid blue; 
}

.right{
  position: absolute; 
  left: 9%; 
  width: 90%;  
  padding: 15px 10px 10px 10px;
  height: 100vh; 
  overflow-y: scroll; /* enable vertical scrolling */
  background-color: #F4F2F2;
  display: flex; 
}

.right > div{

  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  border-radius: 10px; 
  margin: 15px; 
  background-color: white;
  padding: 10px; 
}

.right .profile{
width: 24%; 
height: 60vh; 
display: flex;
flex-direction: column;


}

.right .profile .title{
  padding: 0px 10px; 
  display: flex;
  justify-content: space-between;
  font-size: 90%;
  font-weight: bolder;
}

.right .profile .center{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  
}

.right .profile .center .dets{
 
  font-size: 88%;

}

.right .profile img{
  height: 130px; 
  width: 130px; 
  border: 1px dotted gray; 
  border-radius: 50%;
}

.right .profile .buttons {
margin: 25px 0px; 
display: flex;
justify-content: space-between;

}

.right .profile .buttons button{
  width: 45%; 
  text-align: center;
  background-color: #F4F2F2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  padding: 5px; 
  line-height: 130%;
  font-size: 75%;
}

.right .profile .complete{
  padding-top: 20px; 
  border-top: 1px solid rgba(129, 127, 127, 0.4); 
}

.right .profile .complete button, .appointment-actions a{
  width: 100%; 
  height: 60px; 
  border: 1px dotted black; 
  border-radius: 10px;
  color: purple; 
  font-size: 80%; 
  background-color: white;
  cursor: pointer;
}

.appointment-details{
  border: 1px solid black; 
  padding: 0px; 
}



.right .appointment{
  width: 44%; 
  height: 90vh; 
  text-align: center;
 
}

.right .appointment .division.one{
  background-color: #F4F2F2;
  margin: auto;
  height: 87%;
  width: 96%; 
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 200%;
  
}
.right .appointment .division.one button{
  width: 70%; 
  height: 50px; 
  border: 1px solid brown; 
  border-radius: 10px;
  color:white; 
  font-size: 70%; 
  background-color: brown;
  cursor: pointer;
}

.right .appointment .division-two{
  background-color: #F4F2F2;
  margin: auto;
  width: 96%; 
  border-radius: 3px;
  border: 1px solid lightgrey; 
  
}

.right .appointment .division-two .details p{
  border-left: 12px solid black; 
  border-right: 12px solid black; 
  padding: 3px; 
  border-bottom: 1px solid lightgrey; 
}

.right .appointment .division-two .details button{
  width: 60%; 
  margin: 0px 20px; 
  text-align: center;
  border: none; 
  background: none;
}
.details button a{
  border-bottom: 2px solid red; 
  padding: 2px; 
  color: red; 
  font-size: 115%; 
  line-height: 1.5rem;
  letter-spacing: 130%;
  font-family: 'Times New Roman', Times, serif;

}

.division-two .confirm{
  background-color: rgba(128, 128, 128, 0.6);
  color: black; 
  line-height: 1.8rem; 
  padding: 10px 0px; 
 

}


.right .appointment .division.two .appointment-details, .appointment-actions, .therapist-info-text{
  display: flex;
  justify-content: space-between;

}


.right .community{
  width: 22%; 
  height: 75vh; 
   
}














  