 /* menu styling */
 .menu-dashboard {
    width: 8%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: white; 
    padding: 10px;
    font-size: 85%; 
  }
  
  .menu-dashboard p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 95%;
  }
  
  .menu-dashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-dashboard li {
    margin-bottom: 8px;
    padding: 10px; 
    color: #333; 
  }
  
  .menu-dashboard li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .menu-dashboard li a:hover {
    background-color: #ddd;
  }
  .right-c{
    position: absolute; 
    left: 9%; 
    width: 89%;  
    padding: 15px 10px 10px 10px;
    height: 100vh; 
    overflow-y: scroll; /* enable vertical scrolling */
    background-color: #FAFAFA;
}
    body{
        font-family :'Times New Roman' !important; 
    }
    table {
        width: 100%; 
        border-collapse: collapse;   
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #edecec;
        color:black; 
        text-transform: uppercase;
    }

    #confirm_btn1, #confirm_btn2{
        color: white; 
        border: none; 
        border-radius: 5px; 
        padding: 9px 25px; 
        background-color: red; 
       
    }

    #confirm_btn1{
  
        background-color: green; 
        margin-right: 30px; 
    }

    .container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100px;
			background-color: #fafafa8a; 
          
			padding: 10px;
		}
		.box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: calc(20% - 20px);
			height: 80px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 5px;
			text-align: center;
		}
		.box h2 {
			margin: 0;
			font-size: 85%; 
			font-weight: bold;
		}
		.box p {
			margin: 4px 0px;
			font-size: 80%; 
		}

       

        .appointment{
            border-top:1px solid lightgray; 
            margin-top: 20px; 
        }

        .bullet {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            
            margin-right: 10px;
            }

        .container-two {
           padding: 10px;  
            display: flex;
            justify-content: space-between;
            align-items: center;
          
        }

        .search {
        width: calc(20% + 5px); 
       
        }

        .search input[type="text"] {
            width: 80%; 
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            border: 1px solid red;
            font-family :'Times New Roman'; 
        }

        .sort{
            width: 25%; 
          
        }
        .sort label {
        
        margin-right: 5px;
        font-family :'Times New Roman'; 
        }

        .sort select {
        padding: 10px 28px;
        border-radius: 5px;
        border: 1px solid #ccc;
        
        }

        .panels{
            display: flex; 
            flex-direction: row;
			      justify-content: space-between;
            flex-wrap: wrap; 
            
        }

        .header-dashboard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white; 
           
            
          }
        
          
        
          .search {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 55%;
          }
          
          .search input[type="text"] {
            width: 70%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 16px;
            border: 1px solid black; 
          }
          
          .search button {
            background-color: brown;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
          }
          
          .personal-info {
            width: 30%; 
            font-size: 18px;
            font-weight: bold;
          }
          .logo{
            font-family: 'Times New Roman', Times, serif; 
            font-size: 26px; 
            color: #800000; 
        }
       
    

